# zintMarkdownExtender/.gitignore

# config file
/config_machine_specific.py

# all tmp  files
_*
tmp/*

# static
static/tcML/*
# static/zintML
static/zintML/WebContent/zintBundle/*
!static/zintML/WebContent/zintBundle/flexbox
!static/zintML/WebContent/zintBundle/prism
!static/zintML/WebContent/zintBundle/zintContent
!static/zintML/WebContent/zintBundle/version.txt

# tmp
tmp/*

# zz_testing_content
zz_testing_content/zintML/contentA/WebContent/tcBundle
zz_testing_content/zintML/contentA/WebContent/zintBundle/*
!zz_testing_content/zintML/contentA/WebContent/zintBundle/flexbox
!zz_testing_content/zintML/contentA/WebContent/zintBundle/prism
!zz_testing_content/zintML/contentA/WebContent/zintBundle/zintContent


# IDE
.idea/
/venv/


# IDE added