# zintMarkdownExtender/.gitignore

# all tmp  files
_*
tmp/*

# static
static/tcML/*
# static/zintML
static/zintML/zintBundle/*
!static/zintML/zintBundle/flexbox
!static/zintML/zintBundle/prism
!static/zintML/zintBundle/zintContent
!static/zintML/zintBundle/version.txt

# tmp
tmp/*

# zz_testing_content
zz_testing_content/zintML/contentA/WebContent/tcBundle
zz_testing_content/zintML/contentA/WebContent/zintBundle/*
!zz_testing_content/zintML/contentA/WebContent/zintBundle/flexbox
!zz_testing_content/zintML/contentA/WebContent/zintBundle/prism
!zz_testing_content/zintML/contentA/WebContent/zintBundle/zintContent


# IDE
.idea/