/* *************************************
 *	tcContent.css
 * *************************************/

/* *************************************
 * version history
 * when who what
 *
 * 2015-03-05 hb
 * init
 *
 * 2015-05-04 hb
 * dense structures
 *
 * 2017-12-31 hb
 * major revisions in all
 *
 * 2018-01-06 hb
 * - shadow around java code only (highlight-source-java)
 * - shadow around computer output (tcDivComputerOutput pre)
 *
 * 2020-11-03 hb
 * - tcTitle font size is increased
 *
 * 2020-11-23 hb
 * f- ont size adjustment in lists is removed.
 *
 * 2020-12-01 hb
 * - All font-size reduction are removed
 * - Naming convention zint-content-?
 *
 * *************************************/

.zint-page {
    /*nop*/
}

.zint-content-separator-page {
    font-family: verdana, sans-serif;
    font-size: 40px;
    color: #428bca;
    text-align: center;
    display: table-cell;
    height: 90vh;
    vertical-align: middle;
    width: 100vw;
}

.zint-content-title {
    margin: 10px;
    padding: 20px;
    background-color: cornsilk;
    border-style: solid;
    border-color: #2a6496;
    border-radius: 10px;
}

.zint-content-title p {
    margin: 0;
    padding: 0;
    /*background-color: palevioletred;*/
}

.zint-content-title-running {
    font-size: 150%;
    text-align: right;
    color: darkgray;
}

.zint-content-title-slide {
    font-size: 200%;
    text-align: left;
    color: chocolate;
}

.zint-content-1 {

}

.zint-content-2-left {

}

.zint-content-2-right {

}


/* ************************************
 * Old below
 * ************************************ */


/* Shadow around code */
.highlight-source-java {
    background-color: #f5f5f5;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 5px;
    /*padding: 50px;*/
    border-style: solid;
    border-color: #f5f5f5;
}

.highlight-source-java pre {
    border-color: #f5f5f5;
    padding: 0;
}

.dense {
    font-size: 80%;
}

.dense-table {
    width: 100%;
    padding: 0;
    border: 1px solid black;
}

.tcTable {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.tcTable tr {
    border: 1px solid black;
}

.tcTable td {
    border: 1px solid black;
}

.tcTable th {
    border: 1px solid black;
}

/* *************************************
 *	Block markups
 *	- definition, remark
 * *************************************/


.tcShowHide {
    background-color: gainsboro;
    /*font-size: 80%;*/
    text-align: left;
    color: chocolate;
}

.tcShowHide::before {
    content: "SH.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcShowImplementation {
    background-color: gainsboro;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 5px;
    border-style: solid;

    /*font-size: 70%;*/
    text-align: left;
    color: royalblue;
}

.tcShowImplementation::before {
    /* content: "SI."; */
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcShowAnswer {
    background-color: gainsboro;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 5px;
    border-style: solid;

    /*font-size: 70%;*/
    text-align: left;
    color: seagreen;
}

.tcShowAnswer::before {
    /* content: "SA."; */
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

/* @HB need to be checked */
.tcDoYouKnow {
    background-color: gainsboro;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px;
    border-style: solid;
    /*font-size: 60%;*/
    text-align: left;
    color: chocolate;
}

.tcDoYouKnow::before {
    content: "Do you know?";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}


.tcDivCode {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px;
    border-style: solid;
}

.tcDivQuestion {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px;
    border-style: solid;
    /*font-size: 70%;*/
    color: chocolate;
}

.tcDivQuestion::before {
    content: "Q.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.zint-content-example {
    background-color: burlywood;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px;
    border-style: solid;
    /*font-size: 70%;*/
}

.zint-content-example::before {
    content: "Ex.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcDivDefinition {
    background-color: #e6e6e6;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 10px;
    border-style: solid;
}

.tcDivDefinition::before {
    content: "Def.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcDivTheorem {

}

/*
.tcDivRemark {
	background-color: #ffcc66;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	width: 70%;
	margin: 30px;
	border-style: solid;
}
*/

.tcDivRemark {
    background-color: peachpuff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px;
    border-style: solid;
}

.tcDivRemark::before {
    content: "Rem.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcDivAlgorithm {
    background-color: cornflowerblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 10px;
    border-style: solid;
    /*font-size: 80%;*/
}

.tcDivAlgorithm::before {
    content: "Alg.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcDivComputerOutput {
    background-color: lightgrey;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    width: 95%;
    margin: 5px;
    /*padding: 50px;*/
    border-style: solid;
    border-color: lightgrey;
}

.tcDivComputerOutput::before {
    content: "CO.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

.tcDivComputerOutput pre {
    background-color: lightgrey;
    padding: 0;
}

.tcDivCitation {
    color: dodgerblue;
    /*font-style: italic;*/
    /*font-size: 60%;*/
    text-align: right;
}

.tcDivCitation::before {
    content: "tcDivCitation.";
    /*    background-color: yellow;
    */
    color: red;
    letter-spacing: 3px;
    font-weight: bold;
    /*font-size: 80%;*/
    text-shadow: 2px 2px darkgray;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

/* *************************************
 *	indent code in div structure
 * *************************************/

div > pre {
    margin: 5px;
}

/* *************************************
 *	Inline markups
 * *************************************/

.tcEmp {
    color: green;
    font-style: italic;
}

.tcDefined {
    color: #b3b3b3;
    font-style: italic;
}

.tcCite {
    color: dodgerblue;
    /*font-style: italic;*/
    /*font-size: 60%;*/
    text-align: right;
}


/* *************************************
 *	Outside links
 * *************************************/

.tcLinkedIcon {
    height: 1em;
    /*	height: 50px;
        width: 50px;
        max-width:40;
    */
}


/* *************************************
 *	testing
 * *************************************/
/*
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}



/* *************************************
 *	sources
 * *************************************/
/*

/*img{height: 1em;}
https://stackoverflow.com/questions/15940338/is-there-a-way-via-css-to-set-the-image-height-to-the-line-height*/
